body{
    margin: 0;
    padding: 20px;
    background-color: tomato;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(4,3fr);
    gap: 20px;
}

.caja{
    background: greenyellow;
    padding: 40px;
    border-radius: 10px;
}

@media(min-width:390px) and (max-width:844px){
    .contenedor{
        grid-template-columns: 1fr;
        background-color: #333;
        color: #fff;
        font-family: 'Courier New', Courier, monospace;
    }   
}

@media (orientation: landscape) {
    .caja {
        background: orange;
    }
}